body{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    padding: 0cap;
    margin-inline-start: auto;
}
imp{
    width:100px;
    height:100px;
}
div{
    padding: 5px;
    margin: 10px;
    color:aqua;
    text-align: center;
}
h2{
    color:dodgerblue;
    font-size:bold;
}